{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Teacher Class Manager System</title>
     <!-- Compiled and minified CSS -->
    <link href="{% static 'css/mui.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="mui-row">
        <div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 ">
            <div class="contentContainer">
                <h3>{{class.subject_title}}</h3>
                <h4>Taught by {{current_teacher}}</h4>
                <br>
                {% if can_edit %}
                    <a> You can add/remove students here </a>
                    <br>
                {% endif %}
                <br>
                <h2>Currently enrolled students</h2>
                <div>
                    <table align ="center" style="width:80%">
                        <tr style="border-bottom: .2rem solid black">
                            <td><strong>Name</strong></td>
                            <td><strong>Email</strong></td>
                        </tr>
                        {% for student in class.students.all %}
                        <tr>
                            <td><a href='/student/{{student.id}}'>{{student.first_name}} {{student.last_name}}</a></td>
                            <td>{{student.email}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/mui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/setup_csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>


</body>
</html>