{% load staticfiles i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Teacher Class Manager System</title>
     <!-- Compiled and minified CSS -->
    <link href="{% static 'css/mui.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="mui-row">
        <div class="mui-col-md-10 mui-col-md-offset-1 mui-col-sm-12 ">
            <div class="contentContainer">
                <h3> Welcome to your dashboard, {{user_obj.username}}!</h3>
                <br>
                <br>
                <a href="/myclassrooms/"> View your classrooms </a>
                <br>
                <a href="/mystudents/"> View all your students </a>
                <br> 
                <a> Create a new student record </a>
                <br>
                <a> Create a new classroom </a>
                <br>
                
            </div>
        </div>
    </div>

    <script src="{% static 'js/mui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/setup_csrf.js' %}"></script>


</body>
</html>